*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #232133;
}

/* -------------------------------------------------------------- */

.Titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #17171f;
    padding: 10px;
    margin: 10px 200px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    border-style: double;
}

.Menu_inicial {
    word-spacing: 30px;
    background-color: rgb(14, 14, 20);
    padding: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border-radius: 20px;
}

.Mapa {
    background-color: #100f18;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border-style: double;
}

.Mapa:hover {
    background-color: white;
    color: black;
}

.Bosses {
    background-color: #100f18;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border-style: double;
}

.Bosses:hover {
    background-color: white;
    color: black;
}

.Criaturas {
    background-color: #100f18;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border-style: double;
}

.Criaturas:hover {
    background-color: white;
    color: black;
}

.História {
    background-color: #100f18;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border-style: double;
}

.História:hover {
    background-color: white;
    color: black;
}

.Amuletos {
    background-color: #100f18;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border-style: double;
}

.Amuletos:hover {
    background-color: white;
    color: black;
}

.Personagens {
    background-color: #100f18;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white; 
    border-style: double;
}

.Personagens:hover {
    background-color: white;
    color: black;
}

.Habilidades {
    background-color: #100f18;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white; 
    border-style: double;
}

.Habilidades:hover {
    background-color: white;
    color: black;
}

/* -------------------------------------------------------- */

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #100f18;
    color: white;
    margin: 20px 280px;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    border-style: double;
}

.mapa {
    margin: 1% 25%;
    background-color: #100f18;
    padding: 30px;
    border-radius: 30px;
    border-style: double;
    border-color: white;
}

.paragrafo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #100f18;
    color: white;
    margin: 10px 210px;
    padding: 20px;
    border-radius: 20px;
    border-style: double;
}

/* ------------------------------------------------------------ */

.subtitulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #100f18;
    color: white;
    margin: 20px 300px;
    padding: 20px;
    border-radius: 40px;
    border-style: double;
}

/* ---------------------------------------------------------------- */

.Rodapé {
    background-color: #100f18;
}

.Rodapé h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #100f18;
    color: white;
    padding: 50px;
    margin: 0 auto;
    border-radius: 15px;
}

.Rodapé h3  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #100f18;
    color: white;
    padding: 20px;
    margin: 20px 500px;
    border-radius: 35px;
    border-style: double;
}

.Rodapé a {
    text-decoration: none;
    color: white;
}

.botao :hover {
    background-color: white;
    color: black;
}

/* ------------------------------------------------ */

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #191725;
    color: white;
    padding: 20px;
    border-radius: 15px;
}